<h1>{{projects.name}}</h1>


  <div class="project">
    <div class="project-name">
      <a href="{{projects.url}}">
         Github Respository
       </a>
    </div>

    <div class="project-domains">
      {{#each projects.domains as |domain|}}
        <div class="project-domain">
          {{domain}}
        </div>
      {{/each}}
    </div>
  </div>
  <div>
    <img src={{projects.image}}>
  </div>
